@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.searchResults {
  width: 50%;
  max-height: 70vh;
  overflow-y: auto;
  padding: 1.5rem 2rem;
  background-color: #F3B143;
  border-radius: 12px;
  box-shadow: 9px 9px 0px -2px rgba(203, 83, 49);
  font-family: 'Rubik', 'Poppins', sans-serif;
}

.title {
  display: block;
  margin: 0 auto 32px;
  width: fit-content;
  text-align: center;
  padding: 1.3rem 2rem 1.5rem 2.2rem;
  font-family: "Kumbh Sans", sans-serif;
  border-bottom: 1px solid #CB5331;
  font-weight: 700;
  clip-path: polygon(8% 12%, 95% 1%, 87% 87%, 13% 81%);
  /* filter: drop-shadow(9px 9px 0px -2px #000000); */
  background-color: #CB5331;
  letter-spacing: .1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .searchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
