.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #CB5331;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.trackAction {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.2rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #faf2e9;
}

.trackAction:hover {
  color: rgba(265, 265, 265, .5);
}

.trackInfos {
  display: flex;
  gap: 12px;
}

.trackInfos h3 {
  color: #faf2e9;
  margin-bottom: .28rem;
}

.trackInfos img {
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}


.artist {
  padding-top: .2rem;
  font-weight: 500;
  color: #CB5331;
  font-size: .9rem;

}
