@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
html,
#root {
  height: 100%;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.appPlaylist {
  padding: 0 8% 4% 8%;
  display: flex;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

@media only screen and (max-width: 1020px) {
  .appPlaylist {
    align-items: center;
    flex-direction: column;
  }
}
