@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,
html,
#root {
  height: 100%;
}

.mainContainer {
  background-image: url("./bg-beige.jpg");
  display: flex;
  flex-direction: column;
}

.appSections {
  display: flex;
  gap: 4px;
  background-image: url("./bg-beige.jpg");
}

@media only screen and (max-width: 1020px) {
  .appSections {
    align-items: center;
    flex-direction: column;
  }
}
