@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #011627;
  height: 40px;
  text-align: center;
  letter-spacing: .08rem;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  cursor: default;
}

h1 .highlight {
  color: #4E2DEC;
  font-weight: 800;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  background-image: url('./background_lights.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.AppPlaylist {
  padding: 0 8% 4% 8%;
  display: flex;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

@media only screen and (max-width: 1020px) {
  .AppPlaylist {
    align-items: center;
    flex-direction: column;
  }
}
