@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  margin-bottom: 4rem;
  background-image: url('./hero_vinyl.jpg');
  background-size: cover;
}

.SearchBar input {
  width: 80%;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 2.22rem;
  color: #011627;
  text-align: center;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #06ACB2;
  text-align: center;
  font-size: .833rem;
  transition: background-color .5s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: #006e72;
}
